$color-primary: #1d4ed8;
$color-secondary: #829AB1;
$color-success: #15803d;
$color-danger: #dc2626;

$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-max-width: 1280px;

body {
	background-color: rgba(243, 244, 246, 0.02);
	font-family: 'Roboto', sans-serif;
}

main {
	display: flex;
	flex: 1 0 auto;
	max-width: 100%;
}

.container {
	width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}

.border {
	border-top: 1px solid rgb(229 231 235);
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

@media (min-width:$desktop-max-width) {
	.container {
		max-width: $desktop-max-width;
	}
}

@media (min-width:#{$desktop-width + 1px}) {
	.form-container {
		grid-template-columns: repeat(3,minmax(0,1fr));
	}
}

@media (max-width:$desktop-width) {
	.form-container {
		grid-template-columns: repeat(1,minmax(0,1fr));
	}
}

@media (min-width:#{$tablet-width + 1px}) {
	.input-block {
		grid-column:span 3/span 3
	}

	.form-wrapper {
		padding: 2rem;
	}
}

@media (max-width:$tablet-width) {
	.input-block {
		grid-column:span 6/span 6;
		margin-bottom: .75rem;
	}

	.form-wrapper {
		padding: 2rem 1rem;
	}
}